<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="head :: head"></head>
<body>
<div th:insert="header :: header"></div>
<section>
    <div class="background">
        <div class="section">
            <a class="nav-link" th:href="@{/logout}" th:text="Выйти"></a>
            <H2>Панель администратора</H2>
            <div class="Links">
                <a href="/admin/users" class="link">
                    <h3>Управление пользователями</h3>
                </a>
            </div>
        </div>
    </div>
</section>
<div th:insert="footer :: footer"></div>
</body>
</html>