<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
    <header th:fragment="header">
        <div class="container">
            <div class="header-row">
                <img class="logo" th:src="@{../img/calc.png}" alt="logo"/>
                <div class="logo-text">
                    <h2 class="up-logo-text">SAMOZANET.RU</h2>
                    <h5 class="down-logo-text">web calculator</h5>
                </div>
                <div class="menu">
                    <a href="/" class="links">
                        <h3>Главная</h3>
                    </a>
                </div>
<!--                <div class="menu">-->
<!--                    <a href="/" class="links">-->
<!--                        <h3>Страница 1</h3>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="menu">-->
<!--                    <a href="/" class="links">-->
<!--                        <h3>Страница 2</h3>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="menu">-->
<!--                    <a href="/" class="links">-->
<!--                        <h3>Страница 3</h3>-->
<!--                    </a>-->
<!--                </div>-->
                <div class="header-sign-in">
                    <a href="/login" class="header-button">
                        ВХОД
                    </a>
                </div>
            </div>
        </div>
    </header>
</html>