<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="head :: head"></head>
<body>
    <div th:insert="header :: header"></div>
    <section>
        <div class="background">
            <div class="section">
                <h1>samozanet.ru</h1>
                <p>Добро пожаловать на samozanet.ru!</p>
                <h1>!!! ВЕБ ПРИЛОЖЕНИЕ В РАЗРАБОТКЕ !!!</h1>
            </div>
        </div>
    </section>
    <div th:insert="footer :: footer"></div>
</body>
</html>