<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="head :: head"></head>
<body>
<div th:insert="header :: header"></div>
<section>
  <div class="background">
    <div class="section">
      <H4>Авторизация</H4>
      <form th:action="@{/login}" method="post">
        <div><label> Email : <input type="email" name="username"/> </label></div>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <div><input type="hidden" name="_csrf" value="${_csrf.token}"/></div>
        <div><input type="submit" value="Вход"/></div>
      </form>
    </div>
  </div>
</section>
<div th:insert="footer :: footer"></div>
</body>
</html>